<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="{{ url_for('static', filename='js/translations.js') }}"></script>
    <title data-translate="title">Strikke mønster generator</title>
    <style>
    </style>
</head>
<body>
    <div class="header-container">
        <h1 class="title">MotiKnit</h1>
        <img src="/static/Yarn.jpg" alt="Logo" class="header-image">
    </div>
    <div class="language-switcher">
        <a href="http://www.motiknit.dk" class="flag-link">
            <img src="/static/danish.png" alt="Danish" class="flag-icon">
        </a>
        <a href="http://www.motiknit.com" class="flag-link">
            <img src="/static/english.png" alt="English" class="flag-icon">
        </a>
    </div>
    <div class="upload-container">
        <form id="uploadForm" enctype="multipart/form-data">
            <div class="form-group">
                <label for="fileInput" data-translate="uploadLabel">Upload billede af dit ønskede motiv:</label>
                <div class="mobile-input-container">
                    <input type="file" id="fileInput" accept=".jpg,.jpeg">
                </div>
                <div class="help-text" data-translate="fileHelp">Brug et .jpg eller .jpeg billede. Eller vælg et af disse motiver.</div>
            </div>
            
            <div class="preset-images">
                <div class="preset-grid">
                    <img src="/static/preset1.jpg" class="preset-image" alt="Preset 1" onclick="selectPresetImage(this)">
                    <img src="/static/preset2.jpg" class="preset-image" alt="Preset 2" onclick="selectPresetImage(this)">
                    <img src="/static/preset3.jpg" class="preset-image" alt="Preset 3" onclick="selectPresetImage(this)">
                    <img src="/static/preset4.jpg" class="preset-image" alt="Preset 4" onclick="selectPresetImage(this)">
                    <img src="/static/preset5.jpg" class="preset-image" alt="Preset 5" onclick="selectPresetImage(this)">
                    <img src="/static/preset6.jpg" class="preset-image" alt="Preset 6" onclick="selectPresetImage(this)">
                </div>
                <div class="help-text"></div>
            </div>
            <div class="parameters-container">
                <div class="form-group">
                    <label for="size" data-translate="heightLabel">Ønsket højde (cm):</label>
                    <input type="number" id="size" name="size" step="0.1" value="15">
                    <div class="help-text" data-translate="heightHelp">Fortæl hvilken højde motivet skal have på dit strikketøj</div>
                </div>
                
                <div class="form-group">
                    <label for="masker" data-translate="stitchLabel">Strikkefasthed, masker:</label>
                    <input type="number" id="masker" name="masker" step="1" value="18">
                    <div class="help-text" data-translate="stitchHelp">Angiv antal masker på 10 cm</div>
                </div>
                
                <div class="form-group">
                    <label for="pinde" data-translate="rowLabel">Strikkefasthed, pinde:</label>
                    <input type="number" id="pinde" name="pinde" step="1" value="24">
                    <div class="help-text" data-translate="rowHelp">Angiv antal pinde på 10 cm</div>
                </div>
            </div>
            <div class="methods-container">
                <div class="form-group">
                    <label for="alternating_iteration" data-translate="methodLabel">Strikkemetode:</label>
                    <select id="alternating_iteration" name="alternating_iteration">
                        <option value=false data-translate="circularNeedles">Der strikkes på rundpind</option>
                        <option value=true data-translate="backAndForth">Der strikkes frem og tilbage</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="bottom_to_top" data-translate="startLabel">Arbejdets begyndelse:</label>
                    <select id="bottom_to_top" name="bottom_to_top">
                        <option value=false data-translate="topDown">Der strikkes oppefra og ned</option>
                        <option value=true data-translate="bottomUp">Der strikkes nedefra og op</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="intensity" data-translate="intensityLabel">Intensitet af motivets farve:</label>
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <p><span data-translate="intensity">Intensitet</span>: <span id="demo"></span> %</p>
                </div>
            </div>

            <div class="form-group">
                <div class="center-button-container">
                    <div class="ButtonToGenerate">
                        <button type="submit" data-translate="generateButton">Generer gratis mønster og opskrift</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <!-- Loading Spinner will be shown only when waiting for the backend response -->
    <div id="loading" class="loading" style="display: none;" data-translate="loading">
        Genererer din strikkeopskrift... Vent...
    </div>

    <!-- Images will be shown after uploading and generating -->
    <div class="image-grid" id="imageGrid" style="display: none;">
        <div class="image-container">
            <h3 data-translate="imageLabel">Billede:</h3>
            <img id="originalImage" class="preview-image" alt="Original image" style="display: none;">
        </div>
        <div class="image-container">
            <h3 data-translate="patternLabel">Strikket motiv:</h3>
            <img id="processedImage" class="preview-image" alt="Pattern preview" style="display: none;">
        </div>
    </div>

    <div id="result" class="result-container" style="display: none;">
        <div id="parameters" class="parameters">
            <h2 data-translate="patternTitle">Strikkeopskrift</h2>
            <h3 data-translate="detailsTitle">Detaljer:</h3>
            <p id="finalSizeValue"></p>
            <p id="finalGaugeValue"></p>
            <p id="finalPatternSizeValue"></p>
        </div>

        <h3 data-translate="instructions">Instruktioner:</h3>
        <div id="instructions" class="instructions"></div>
        <div class="download-container" id="downloadContainer" style="display: none;">
            <button id="downloadPdfButton" class="download-button" data-translate="downloadPDF">Download PDF</button>
        </div>
    </div>

    <p id="error" class="error"></p>
    <script>
        let currentProcessedImage = null;
        let currentParameters = null;
        let currentInstructions = null;
        const fileInput = document.getElementById('fileInput');
        const originalImage = document.getElementById('originalImage');
        const processedImage = document.getElementById('processedImage');
        const resultDiv = document.getElementById('result');
        const instructionsElement = document.getElementById('instructions');
        const errorElement = document.getElementById('error');
        const loadingElement = document.getElementById('loading');
        const imageGrid = document.getElementById('imageGrid');
        const uploadForm = document.getElementById('uploadForm');

        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;
        slider.oninput = function() {
            output.innerHTML = this.value;
        }

        // Add mouseup event to trigger form submission when slider is released
        slider.addEventListener('mouseup', function() {
            if (fileInput.files.length > 0) {
                uploadForm.requestSubmit();
            }
        });

        // Touch support for mobile devices
        slider.addEventListener('touchend', function() {
            if (fileInput.files.length > 0) {
                uploadForm.requestSubmit();
            }
        });

        // Preset image settings
        const presetSettings = {
            'preset1.jpg': 50,  
            'preset2.jpg': 80,
            'preset3.jpg': 90,
            'preset4.jpg': 75,
            'preset5.jpg': 40,
            'preset6.jpg': 85
        };

                // Modified selectPresetImage function
        async function selectPresetImage(imgElement) {
            try {
                const response = await fetch(imgElement.src);
                const blob = await response.blob();
                const file = new File([blob], 'preset.jpg', { type: 'image/jpeg' });
                
                // Create a new FileList-like object
                const dataTransfer = new DataTransfer();
                dataTransfer.items.add(file);
                
                // Update the file input
                fileInput.files = dataTransfer.files;
                
                // Show the selected image in the preview
                originalImage.src = imgElement.src;
                originalImage.style.display = 'block';
                imageGrid.style.display = 'flex';

                // Set slider value based on preset image
                const imageName = imgElement.src.split('/').pop();
                if (presetSettings[imageName]) {
                    slider.value = presetSettings[imageName];
                    output.innerHTML = slider.value;
                }
            } catch (error) {
                errorElement.textContent = 'Error loading preset image';
            }
        }

        // Show the original image after it's uploaded
        fileInput.addEventListener('change', function(e) {
            const file = e.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    originalImage.src = e.target.result;
                    originalImage.style.display = 'block'; // Show image
                    imageGrid.style.display = 'flex'; // Show image grid with flex layout
                }
                reader.readAsDataURL(file);
            }
        });

        // Handle form submission and show loading state while waiting for the backend response
        document.getElementById('uploadForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            
            if (!fileInput.files[0]) {
                errorElement.textContent = 'Please select a file';
                return;
            }

            var sliderValue = slider.value

            const formData = new FormData();
            formData.append('file', fileInput.files[0]);
            formData.append('size', document.getElementById('size').value);
            formData.append('pinde', document.getElementById('pinde').value);
            formData.append('masker', document.getElementById('masker').value);
            formData.append('alternating_iteration', document.getElementById('alternating_iteration').value);
            formData.append('bottom_to_top', document.getElementById('bottom_to_top').value);
            formData.append('intensity', sliderValue);
            
            try {
                errorElement.textContent = '';
                resultDiv.style.display = 'none';
                loadingElement.style.display = 'block'; // Show loading

                // Make request to backend
                const response = await fetch('/process', {
                    method: 'POST',
                    body: formData
                })
                
                const data = await response.json();
                
                if (response.ok) {
                    processedImage.src = `data:image/png;base64,${data.processed_image}`;
                    processedImage.style.display = 'block'; // Show the resulting image
                    currentProcessedImage = data.processed_image;
                    currentParameters = data.parameters;
                    currentInstructions = data.instructions;

                    processedImage.onload = () => {
                    document.getElementById('result').scrollIntoView({ 
                        behavior: 'smooth',
                        block: 'start'
                    });
                };

                    // Display parameters
                    document.getElementById('finalSizeValue').textContent = data.parameters.final_size;
                    document.getElementById('finalGaugeValue').textContent = data.parameters.final_gauge;
                    document.getElementById('finalPatternSizeValue').textContent = data.parameters.final_pattern_size;
                    
                    // Display instructions
                    instructionsElement.textContent = data.instructions.join('\n');
                    
                    resultDiv.style.display = 'block'; // Show result container
                    document.getElementById('downloadContainer').style.display = 'block';
                } else {
                    throw new Error(data.error);
                }
            } catch (error) {
                errorElement.textContent = error.message;
            } finally {
                loadingElement.style.display = 'none'; // Hide loading
            }
        });

        document.getElementById('downloadPdfButton').addEventListener('click', async () => {
        try {
            // Show loading state
            const downloadButton = document.getElementById('downloadPdfButton');
            const originalText = downloadButton.textContent;
            downloadButton.textContent = 'Genererer PDF...';
            downloadButton.disabled = true;

            const response = await fetch('/download-pdf', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    processed_image: currentProcessedImage,
                    parameters: currentParameters,
                    instructions: currentInstructions
                })
            });

            if (!response.ok) {
                throw new Error('Failed to generate PDF');
            }

            const blob = await response.blob();

            // Use FileSaver.js for other devices
            saveAs(blob, 'knitting_pattern.pdf');
            
        } catch (error) {
            errorElement.textContent = 'Error generating PDF: ' + error.message;
        } finally {
            // Reset button state
            const downloadButton = document.getElementById('downloadPdfButton');
            downloadButton.textContent = originalText;
            downloadButton.disabled = false;
        }
    });
    var currentLang = Intl.DateTimeFormat().resolvedOptions().locale
    if (!['da','en'].includes(currentLang)){
        currentLang = window.location.hostname.includes('motiknit.dk') ? 'da' : 'en'
    }
    updatePageContent(currentLang);
    </script>
</body>
</html>